[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/shaderc"]
	path = external/shaderc
	url = git@github.com:google/shaderc.git
[submodule "external/SPIRV-Tools"]
	path = external/SPIRV-Tools
	url = git@github.com:KhronosGroup/SPIRV-Tools.git
[submodule "external/SPIRV-Headers"]
	path = external/SPIRV-Headers
	url = git@github.com:KhronosGroup/SPIRV-Headers.git
[submodule "external/glslang"]
	path = external/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
